extends layout

block content
  h1 station.stationName

  table
    thead
      tr
        th Time
        th Bikes
        th Capacity
        th Get/Put Bikes
        
    tbody
       each station, i in stationdetails
        tr
        
            each smth, i in  station.details
              td=smth.time
        