extends layout

block content
  h1 Nej
 

  table
    thead
      tr
        th Start Station
        th End Station
        
    tbody
       each user, i in userlist
        tr
             td=user['station']
             td=user['EndStation Id']
        //-  td=user
        





   