extends layout

block content
  h1 Nej
 

  table
    thead
      tr
        th Station Name
        th Station Capacity
        
    tbody
       each user, i in userlist
        tr
          td=user.Station_Name
          td=user.Station_Capacity
        





   